# Variables and Assignment

## Use variables to store values

- *Variables* are names for values.
- Variable names
  - can only contain letters, digits, and underscore _ (typically used to separate words in long variable names)
  - cannot start with a digit
  - are case sensitive (`age`, `Age` and `AGE` are three different variables)
- The name should also be meaningful so you or another programmer know what it is
- Variable names that start with underscores like `\__alistairs_real_age` have a special meaning so we wonâ€™t do that until we understand the convention.
- In Python the `=` symbol assigns the value on the right to the name on the left.
- The variable is created when a value is assigned to it.
- Here, Python assigns an age to a variable `age` and a name in quotes to a variable `first_name`.

In [2]:
age = 42
first_name = 'Ahmed'

## Use `print` to display values
- Python has a built-in *function* called `print` that prints things as text.
- *Call* the function (i.e., tell Python to run it) by using its name.
- Provide values to the function (i.e., the things to print) in parentheses.
- To add a string to the printout, wrap the string in single or double quotes.
- The values passed to the function are called *arguments*

In [3]:
print(first_name, 'is', age, 'years old')

Ahmed is 42 years old

- `print` automatically puts a single space between items to separate them.
- And wraps around to a new line at the end.

## Variables must be created before they are used.

In [4]:
print(last_name)

NameError: name 'last_name' is not defined

The last line of an error message is usually the most informative.

Be aware that it is the order of execution of cells that is important in a Jupyter notebook, not the order in which they appear.

## Variables can be used in calculations.
We can use variables in calculations just as if they were values.
- Remember, we assigned the value 42 to age a few lines ago.

In [5]:
age = age + 3
print('Age in three years:', age)

Age in three years: 45